<div class="footer">
  <div class="pagination">
    <div class="pagination__rect" data="1">1</div>
    <div class="pagination__rect" data="2">2</div>
    <div class="pagination__rect" data="3">3</div>
    <div class="pagination__rect" data="4">4</div>
    <div class="pagination__rect" data="5">5</div>
    <div class="pagination__rect" data="6">...</div>
    <div class="pagination__rect" data="7">29</div>
  </div>

  <div class="all-rights">
    <p class="all-rights__text">
      © 2021 | All Rights Reserved | Developed with ♥ by GoIT Students
    </p>
      <div class="overlay">
        <p>Projekt został wykonany przez: Piotra, Natalię, Krystiana, Aleksandra i Mariusza. &#128512 &#128512 &#128512 </p>
      </div>
    

  </div>
</div>