<div class="footer">
  <ul id="pagination" class="pagination">
    <!-- <li class="pagination__rect btn-prev" data="0"><span><i class="fas fa-angle-left"></i></span></li>
    <li class="pagination__rect numb active" data="1"><span>1</span></li>
    <li class="pagination__rect dots" data="2"><span>2</span></li>
    <li class="pagination__rect numb" data="3"><span>3</span></li>
    <li class="pagination__rect numb" data="4"><span>4</span></li>
    <li class="pagination__rect numb" data="5"><span>5</span></li>
    <li class="pagination__rect dots" data="6"><span>...</span></li>
    <li class="pagination__rect numb" data="7"><span>29</span></li>
    <li class="pagination__rect btn-next" data="8"><span><i class="fas fa-angle-right"></i></span></li> -->
  </ul>

  <div class="all-rights">
    <p class="all-rights__text">
      © 2021 | All Rights Reserved | Developed with ♥ by GoIT Students
    </p>

  </div>
</div>