<span class="backdrop" hidden></span>
<div class="modal" hidden>
  <button class="modal__close-btn">
    <img src="../src/images/close-btn-svg.svg" alt="close button" />
  </button>
  <div class="modal-container">
    <img
      class="modal__icon"
      src="../src/images/modal-template-iconpic.png"
      alt="event icon"
      width="132"
    />
    <div class="container">
      <img
        class="modal__picture"
        src="../src/images/modal-template-pic.png"
        alt="event picture"
        width="360"
      />
      <ul class="modal__info">
        <li class="modal__info-element">
          <p class="modal__info-element__name">INFO</p>
          <p class="modal__info-element__text">
            Atlas Weekend is the largest music festival in Ukraine.More than 200 artists will create
            a proper music festival atmosphere on 10 stages
          </p>
        </li>
        <li class="modal__info-element">
          <p class="modal__info-element__name">WHEN</p>
          <p class="modal__info-element__text">2021-06-09<br />20:00 (Kyiv/Ukraine)</p>
        </li>
        <li class="modal__info-element">
          <p class="modal__info-element__name">WHERE</p>
          <p class="modal__info-element__text">Kyiv, Ukraine<br />VDNH</p>
        </li>
        <li class="modal__info-element">
          <p class="modal__info-element__name">WHO</p>
          <p class="modal__info-element__text">The Black Eyed Peas</p>
        </li>
        <li class="modal__info-element modal__tickets">
          <p class="modal__info-element__name">PRICES</p>
          <ul class="modal__info-element__tickets-content">
            <li class="modal__info-element__ticket">
              <img
                class="modal__info-element__ticket-barcode"
                src="../src/images/ticket-code.svg"
                alt="barcode"
                width="29"
              />
              <p class="modal__info-element__ticket-text" id="standard-price">
                Standart 300-500 UAH
              </p>
              <button class="modal__info-element__ticket-btn" id="standard-btn">BUY TICKETS</button>
            </li>
            <li class="modal__info-element__ticket">
              <img
                class="modal__info-element__ticket-barcode"
                src="../src/images/ticket-code.svg"
                alt="barcode"
                width="29"
              />
              <p class="modal__info-element__ticket-text" id="vip-price">VIP 1000-1500 UAH</p>
              <button class="modal__info-element__ticket-btn" id="vip-btn">BUY TICKETS</button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button class="modal__more-btn" type="button">MORE FROM THIS AUTHOR</button>
  </div>
</div>
