body {
  font-family: 'Montserrat', sans-serif;
  background: #0E0E0E;
}

.header {
  height: 446px;
  margin: 0 auto;
  background-image: url(../images/header-image-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
} 

.logo-img {
  position: absolute;
  width: 239px;
  height: 201px;
}

.header-title {
  margin: 0 auto 60px;
  padding: 30px 0;
  width: 620px;
  height: 167px;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #DC56C5;
}

.header-fieldset {
  width: 540px;
  display: flex;
  justify-content: center;
  border: none;
  margin: 0 auto;
}

.header-field {
  position: relative;
  float: left;
}

.header-input {
  font: inherit;
  border: none;
  width: 270px;
  height: 40px;
  line-height: 20px;
  border-radius: 500px;
  font-size: 16px;
  padding-left: 20px;
  outline: none;
  transition: all 0.2s;  
  appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #939393;
}

.header-input::placeholder {
  color: #939393;
}

.search__submit {
  border: none;
  background-color: initial;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  width:30px;
  height:30px;
  position: absolute;
  top: 6px;
  right: 5px;
  color: #939393;  
}


/* -----------TABLET--------- */
@media screen and (min-width: 768px) and (max-width:1280px) {
  .header { 
    background-image: url(../images/header-image-tablet.png);  
  }
  
  .header-input {
    color: #272626;
  }

  .header-input::placeholder {
    color: #272626;
  }

  .logo-img {
    width: 179px;
    height: 151px;
  }

  .header-title {
    margin: 0 auto 30px;
    width: 353px;
    height: 150px;
    font-size: 30px;
    line-height: 37px;
  }

  .header-fieldset {
    padding-top: 10px; 
  }

  .search__submit {
    color: #272626;
  }
}


/* -----------MOBILE-------- */
@media screen and (max-width: 767px) {
  .header {    
    margin: 0 auto;
    background-image: url(../images/header-image-mobile.png);  
  }

  .header-input {
    color: #272626;
  }

  .header-input::placeholder {
    color: #272626;
  }

  .logo-img {
    width: 107px;
    height: 90px;
  }

  .header-title {
    margin: 0 auto 0;
    padding-top: 80px;
    width: 290px;
    height: 170px;
    font-size: 24px;
    line-height: 22px;
  }

  .header-fieldset {
    flex-direction: column;
    justify-content: center;
    border: none;
    margin: 0 auto;
  }

  .header-field {
    margin-bottom: 20px;
    text-align: center;
  }

  .search__submit {
    right: 130px; 
    color: #272626;
  }
}
