p{
  margin: 2.5px 0px;
}

.main-field {
  background: #0E0E0E;
  width: 1280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.main-events {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 180px;
}

.main-events-img{
  width: 180px;
  height: 227px;
  border-radius: 50px 0px;
}

.main-events-name,.main-events-date,.main-events-place{
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #FFFFFF;
}

.main-events-name{
  font-weight: 700;
  color: #DC56C5;
}
.main-events-date{
  font-weight: 400;
}
.main-events-place{
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
}