/* ALL-ROUND & DESKTOP */

.backdrop {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  pointer-events: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 930px;
  height: 1000px;
  overflow: auto;
  background: #fff2fd;
  border-radius: 300px 0px;
}

.modal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 62px 0;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  margin-top: 41px;
}

.modal__close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  border: 0px;
  background-color: #fff2fd;
}

.modal__close-btn img {
  width: 25px;
  height: 25px;
}

.modal__icon {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  object-fit: cover;
}

.modal__picture {
  width: 360px;
  height: 641px;
  object-fit: cover;
}

.modal__info {
  width: 450px;
  list-style: none;
}

.modal__info-element__name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #dc56c5;
  margin-bottom: 7px;
}

.modal__info-element__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #0e0e0e;
  margin-bottom: 20px;
}

.modal__info-element__tickets-content {
  list-style: none;
}

.modal__info-element__ticket {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modal__info-element__ticket-barcode {
  margin-right: 13px;
}

.modal__info-element__ticket-text {
  margin-right: 150px;
}

.modal__info-element__ticket-btn {
  margin-top: 20px;
  margin-bottom: 31px;
  width: 145px;
  height: 40px;
  background: #4c00fe;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.modal__more-btn {
  height: 40px;
  border: 1px solid #4c00fe;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4c00fe;
  background: #fff2fd;
  margin-top: 45px;
}
.ticket-link{
  color: #ffffff;
  text-decoration: none;
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .modal {
    width: 595px;
    height: 800px;
  }

  .modal__close-btn {
    top: 25px;
    right: 25px;
  }

  .modal__close-btn img {
    width: 17px;
    height: 17px;
  }

  .modal__icon {
    width: 70px;
    height: 70px;
  }

  .modal__picture {
    width: 233px;
    height: 416px;
  }

  .modal__info {
    width: 265px;
  }

  .modal__info-element__name {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .modal__info-element__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .modal__info-element__ticket-text {
    margin-right: 30px;
  }

  .modal__info-element__ticket-btn {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

/* MOBILE */

@media screen and (max-width: 767px) {
  .modal {
    width: 272px;
    height: 900px;
    border-radius: 150px 0px;
  }

  .modal__close-btn {
    top: 25px;
    right: 25px;
  }

  .modal__close-btn img {
    width: 17px;
    height: 17px;
  }

  .modal__info-element__name {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .modal__info-element__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .modal__more-btn {
    /* width: 230px; */
    margin-top: 25px;
    font-size: 15px;
  }

  .modal__icon {
    width: 102px;
    height: 102px;
  }

  .modal__picture {
    display: none;
  }

  .modal__info {
    width: 243px;
    text-align: center;
  }

  .modal__info-element__ticket {
    justify-content: center;
  }

  .modal__info-element__ticket-text {
    margin-right: 0px;
  }

  .modal__info-element__ticket-btn {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
